.item {
    color: red;
    margin-bottom: 20px;
    
}

.item img {
    width: 3em;
    border-radius: 30%;
    padding-right: 10px;
}

.like {
    color: green;
}

.likeNumber{
    color: #fff;
    
}