.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.ava {
    width: 30%;
}

.dialogs_items {
    padding: 10px;
    
}

.dialogs_items .active {
    color: gold;
}

.dialog {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.message {
    padding: 20px;
    color: grey;
}
